body {
    font-family: Arial;
    font-size: 12px;
}

ul {
    padding: 0px;
    margin: 0px;
}

li {
    list-style-type: none;
}

#main {
    width: 800px;   
    float:initial;
    border: 1px solid #000;
    padding: 5px;
    display: table;
    margin: 0 auto;
    background-color:#f0f7f7;
}

#colLeft {
    float: left;
}

#colMidddle, #colRight {
    float: right;
    background-color: white;
}

#colLeft a {
    text-decoration: none;
    color: #000;
}

#colLeft li:first-child {
    color: #900a08;
}

    #colLeft li:first-child a {
        color: #900a08;
    }

#colLeft ul {
    margin: 10px 0px;
}

#colMidddle {
    width: 500px;
    border: 1px solid #000;
    padding: 5px;
}

    #colMidddle li {
        margin: 10px 0px;
        padding: 2px;
    }

#colRight {
    text-align: center;
    width: 150px;
}

    #colRight li {
        border: 1px solid #000;
        margin: 1px;
        padding: 3px;
    }

        #colRight li a, #content li a {
            color: #900a08;
        }

#tutorialLogo {
    background-image: url('./images/css.png');
    background-repeat: no-repeat;
    width: 79px;
    height: 59px;
}

#content {
    clear: both;
    font-size: 12px;
}

#colMidddle h1 {
    margin: 5px;
}

#content li:nth-child(odd), .title {
    clear: both;
    background-color: #808080;
    color: #fff;
    font-size: 14px;
}

.pagination li {
    float: left;
}

.pagination input {
    background-color: #fff;
    border: 1px solid #000;
    padding: 2px 20px;
    cursor: pointer;
}

#tutorialContent {
    float: right;
    width: 400px;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 10px;
}

hr {
    clear: both;
    margin: 0px;
}

.title {
    font-weight: bold;
}

#btn25Style {
    margin: 5px;
}

.previous {
    background-image: url('./images/arrowLeft.png');
    background-repeat: no-repeat;
    background-position: 2% 50%;
}

.next {
    background-image: url('./images/arrowRight.png');
    background-repeat: no-repeat;
    background-position: 98% 50%;
}
